html {
    box-sizing: border-box;
    background-color: var(--color-light-bg);
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;

}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

@font-face {
    font-family: 'TT2020Base-Italic';
    src: local('TT2020Base-Italic'),
        url('../fonts/TT2020BaseItalic.woff2') format('woff2'),
        url('../fonts/TT2020BaseItalic.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* ----------------------------------- global ----------------------------------- */
/** значения подогнать под нужные */
.container {
    width: 680px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* outline: 2px solid rgb(255, 170, 0); */
}

.flex {
    display: flex;
}

:root {
    --color-blue-primary: #0B5FFF;
    --color-blue-light: #B3CDFF;
    --color-grey-dark: #393A4A;
    --color-light-bg: #F1F2F5;
}

.btn-reset {
    border: none;
    background-color: transparent;
    cursor: pointer;
}


/*---------------------------------стили для карточек-------------------------------------------------*/
.container_img {
    overflow: hidden;
    height: 680px;
    margin-bottom: 20px;
    border-radius: 10px;
    flex: 1 1 auto;
}

.img {
    transition: all ease 1s;
}

/*---------------------------------стили для текста-------------------------------------------------*/
.container_text {
    font-family: 'TT2020Base-Italic', Helvetica, sans-serif;
    width: 73%;
    padding-top: 7px;
    height: 20px;
    overflow: hidden;
    /* outline: 2px solid red; */
}

.text {
    display: block;
    width: 468px;
    transition: all ease 1s;
}

/*---------------------------------стили для кнопок-------------------------------------------------*/
.container_btn {
    width: 120px;
    /* outline: 2px solid red; */

}

.btn {
    /* padding: 15px 45px 15px 45px; */
    width: 10px;
    height: 10px;
    margin: 10px;
    outline: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: black;
    border-radius: 50px;
    background-color: var(--color-blue-primary);
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: var(--color-blue-light);
}

/* select btn */
.btn-select {
    background-color: transparent;
    border: 2px solid var(--color-blue-primary);
    transition: border 0.3s;
}

.btn-select:hover {
    background-color: transparent;
    border: 2px solid var(--color-blue-light);
}

/*---------------*/
/* ----------------------------------------- Адаптивность ----------------------------------------- */
@media (max-width: 768px) {
    .container {
        width: 80%;
        height: 80%;
        /* Ширина контейнера на маленьких экранах */
    }

    .container_img{
        width: 100%;
        height: 100%;
    }

}